/* Ensure the canvas covers the full screen */
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20232a; /* Optional background color */
}

canvas {
    width: 100vw;
    height: 100%vh;
    position: absolute;
    top: 0;
    left: 0;
}
