@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

@theme {
  --color-primary: #7AB53E; /* Spinner color */
  --bg-color: #1F2937; /* Background color (bg-gray-800) */
}

body {
  background-color: #010103;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .nav-hover {
    @apply relative text-white transition-all duration-300;
  }

  .nav-hover::before {
    content: '';
    @apply absolute -bottom-1 left-0 w-full h-[2px] bg-green-500 scale-x-0 transition-transform duration-300;
  }

  .nav-hover::after {
    content: '';
    @apply absolute inset-0 bg-green-400/10 blur-md opacity-0 scale-50 transition-all duration-300;
  }

  .nav-hover:hover {
    @apply text-green-400 drop-shadow-lg;
  }

  .nav-hover:hover::before {
    @apply scale-x-100;
  }

  .nav-hover:hover::after {
    @apply opacity-100 scale-100;
  }

  /* Global Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #052700;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #7AB53E;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner {
    background-color: #7AB53E;
  }

  /* Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #052700 #7AB53E;
  }
}

@layer components {
  .custom-loader {
    @apply w-12 h-12 relative text-[#7AB53E];
    background: radial-gradient(
      farthest-side,
      currentColor calc(100% - 6px),
      transparent calc(100% - 5px) 0
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - 13px),
      black calc(100% - 12px)
    );
    border-radius: 50%;
    animation: spin 2s infinite linear;
  }
  .custom-loader::before,
  .custom-loader::after {
    content: "";
    @apply absolute inset-0 bg-current;
    background: linear-gradient(currentColor 0 0) center,
      linear-gradient(currentColor 0 0) center;
    background-size: 100% 10px, 10px 100%;
    background-repeat: no-repeat;
  }
  .custom-loader::after {
    transform: rotate(45deg);
  }
}

/* Keyframes for spinning animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}